#__id__ .title-wrap .title {
  margin-top: -16%;
  line-height: 1.75em;
}

#__id__ .title-wrap .subtitle {
  font-size: 0.4in;
  line-height: 1.6em;
  margin-top: -10%;
}

#__id__ .title-wrap .audio {
  display: none;
  font-size: 0.4in;
  margin-top: -5%;
}

.cover--ebook #__id__ .title-wrap .audio {
  display: block;
}

.cover--ebook #__id__ .title-wrap .subtitle {
  margin-top: -24%;
}

